* {
    font-family: Arial, Helvetica, sans-serif;
}

#startWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border: 3px solid #7b38d8;
}

#start {
    background-color: #7b38d8;
    padding: 20px;
    width: 200px;
    color: #ffffff;
    text-align: center;
    border: 4px double #cccccc;
    border-radius: 10px;
    font-size: 28px;
    cursor: pointer;
    margin: 5px;
}

#start:hover {
    background-color: #3c1b6a;
    transition: all 0.3s ease 0s;
}

#startWrapper a {
    color: #7b38d8;
    font-size: 18px;
    margin: 5px;
    
}

#timerWrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#quizWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quizWrapper h1 {
    width: 100%;
    text-align: center;
    background-color: #3c1b6a;
    padding: 20px;
    color: white;
}

#question {
    font-weight: bold;
    font-size: 28px;
    margin: 0px;
    padding: 0px;
}

#answersWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.answerButton {
    background-color: #7b38d8;
    padding: 5px;
    width: 200px;
    color: #ffffff;
    text-align: center;
    border: 4px double #cccccc;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
}

.answerButton:hover {
    background-color: #3c1b6a;
    transition: all 0.3s ease 0s;
}

#scoreWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 40px;
    border: 4px double #cccccc;
    border-radius: 10px;
    background-color: #7b38d8;
}

#scoreWrapper h1 {
    width: 100%;
    color: white;
}

.finale {
    list-style: none;
    padding: 20px;
    margin: 0px;
    font-weight: bold;
    background-color: white;
}

#initials {
    border: 4px double;
    border-right: none;
}

#score {
    border: 4px double;
    border-left: none;
}

.finale li {
    font-weight: normal;
}

#scoreButtonWrapper {
    width: 100%;
    padding: 10px;
}

.scoreButton {
    background-color: #3c1b6a;
    padding: 10px;
    width: 200px;
    color: #ffffff;
    border: 4px double #cccccc;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.scoreButton:hover {
    background-color: black;
    transition: all 0.3s ease 0s;
}